{{block "dashboard" .}}
    <h1 class="text-xl font-bold">Dashboard</h1>

    <div class="grid grid-cols-2 gap-4">
      {{range .Widgets}}
        <div hx-get="{{.}}"
             hx-trigger="load"
             hx-target="this"
             hx-swap="innerHTML">{{template "widget-loading"}}</div>
      {{end}}
    </div>
{{end}}

{{define "widget-loading"}}
  <div class="flex flex-col gap-2">
    <div class="skeleton w-full h-40"></div>
  </div>
{{end}}
