{{block "dog" .}}
  <div hx-get="/dog/table"
       hx-trigger="load"
       hx-target="this"
       hx-swap="outerHTML"></div>
{{end}}

{{block "dog-table" .}}
  <table class="table p-4">
    <thead>
      <tr>
        <th><div id="loading-indicator" class="htmx-indicator loading loading-spinner"></div></th>
        <th>{{template "dog-colours" .}}</th>
        <th>{{template "dog-breeds" .}}</th>
        <th>Name</th>
    </thead>
    <tbody>
      {{range .Dogs}}
        <tr>
          <td></td>
          <td>{{.Colour}}</td>
          <td>{{.Breed}}</td>
          <td>{{.Name}}</td>
        </tr>
      {{end}}
    </tbody>
  </table>
{{end}}

{{block "dog-colours" .}}
  <select name="colour"
          class="select"
          hx-get="/dog/table"
          hx-trigger="change"
          hx-target="closest table"
          hx-swap="outerHTML"
          hx-indicator="#loading-indicator"
          hx-include="{{template "dog-hx-include"}}"
          hx-disabled-elt="{{template "dog-hx-disabled-elt"}}"
  >
    {{range .Colours}}
      <option value="{{.}}"{{if eq . $.Colour}} selected{{end}}>{{title .}}</option>
    {{end}}
  </select>
{{end}}

{{block "dog-breeds" .}}
  <select name="breed"
          class="select"
          hx-get="/dog/table"
          hx-trigger="change"
          hx-target="closest table"
          hx-swap="outerHTML"
          hx-indicator="#loading-indicator"
          hx-include="{{template "dog-hx-include"}}"
          hx-disabled-elt="{{template "dog-hx-disabled-elt"}}"
  >
    {{range .Breeds}}
      <option value="{{.}}"{{if eq . $.Breed}} selected{{end}}>{{title .}}</option>
    {{end}}
  </select>
{{end}}

{{define "dog-hx-disabled-elt" -}}
[name='breed'],[name='colour']
{{- end}}

{{define "dog-hx-include" -}}
[name='breed'],[name='colour']
{{- end}}
