{{block "dog" .}}
  <h1 class="text-xl font-bold pb-4">Dog</h1>

  <div hx-get="/dog/table?{{.QP}}"
       hx-trigger="load"
       hx-target="this"
       hx-target-error="this"
       hx-indicator="#loading-indicator"
       hx-swap="outerHTML">{{template "dog-loader"}}</div>
{{end}}

{{block "dog-table" .}}
  <table class="table p-4">
    <input type="hidden" name="last-order-direction" value="{{.LastOrderDirection}}" />
    <thead>
      <tr id="reloader"
          hx-get="/dog/table"
          hx-target="closest table"
          hx-target-error="closest table"
          hx-swap="outerHTML"
          hx-indicator="#loading-indicator"
          hx-trigger="reload"
          hx-disabled-elt="{{template "dog-hx-disabled-elt"}}"
          hx-include="{{template "dog-hx-include"}}"
      >
          <th>{{template "dog-colours" .}}</th>
          <th>{{template "dog-breeds" .}}</th>
          <th><label class="cursor-pointer">
                <input type="radio"
                       class="opacity-0"
                       name="order-direction"
                       value="{{if eq .Order "name"}}name-{{if eq .Direction "desc"}}asc{{else}}desc{{end}}{{else}}name-asc{{end}}"
                       hx-on:change="htmx.trigger('#reloader', 'reload')"
                       /> Name {{if eq .Order "name"}}{{if eq .Direction "asc"}}&uarr;{{else if eq .Direction "desc"}}&darr;{{end}}{{end}}
              </label>
          </th>
          <th><label class="cursor-pointer">
                <input type="radio"
                       class="opacity-0"
                       name="order-direction"
                       value="{{if eq .Order "age"}}age-{{if eq .Direction "desc"}}asc{{else}}desc{{end}}{{else}}age-asc{{end}}"
                       hx-on:change="htmx.trigger('#reloader', 'reload')"
                       /> Age {{if eq .Order "age"}}{{if eq .Direction "asc"}}&uarr;{{else if eq .Direction "desc"}}&darr;{{end}}{{end}}
              </label>
          </th>
      </tr>
    </thead>
    <tbody>
      {{range .Dogs}}
        <tr>
          <td>{{.Colour}}</td>
          <td>{{.Breed}}</td>
          <td>{{.Name}}</td>
          <td>{{.Age}}</td>
        </tr>
      {{end}}
    </tbody>
  </table>
{{end}}

{{block "dog-colours" .}}
  <select name="colour"
          class="select"
          hx-on:change="htmx.trigger('#reloader', 'reload')"
  >
    {{range .Colours}}
      <option value="{{.}}"{{if eq . $.Colour}} selected{{end}}>{{title .}}</option>
    {{end}}
  </select>
{{end}}

{{block "dog-breeds" .}}
  <select name="breed"
          class="select"
          hx-on:change="htmx.trigger('#reloader', 'reload')"
  >
    {{range .Breeds}}
      <option value="{{.}}"{{if eq . $.Breed}} selected{{end}}>{{title .}}</option>
    {{end}}
  </select>
{{end}}

{{define "dog-hx-disabled-elt" -}}
[name='breed'],[name='colour'],[name='order-direction'],[name='last-order-direction']
{{- end}}

{{define "dog-hx-include" -}}
[name='breed'],[name='colour'],[name='order-direction'],[name='last-order-direction']
{{- end}}

{{define "dog-loader"}}
  <div class="skeleton w-full h-20"></div>
{{end}}
