{{block "drawer" .}}
  <h1 class="text-xl font-bold">Drawer</h1>

  <div class="drawer drawer-end">
    <input id="drawer-1"
           type="checkbox"
           class="drawer-toggle"
           _="on change set #drawer-1-body.innerHTML to '<span class=\'loading loading-spinnner\'></span>'"
    />
    <div class="drawer-content">
      {{template "drawer-2"}}
      <!-- Page content here -->

      <div class="flex flex-col space-y-4 w-2/3">
        <p>
        A drawer is a panel that slides onto the page from the left or right
        side of the screen, obscuring part of the page, focusing the attention
        of the user to the drawer.
        </p>

        <p>
        The drawer is triggered by a checkbox. To load responses from the
        server, we can do a <code>hx-get</code> and <code>hx-target</code>
        the drawer body, then use hyperscript to toggle the checkbox.
        </p>

        <div class="flex flex-row space-x-4">
          {{range $k, $v := .Content}}
            <button class="btn btn-primary"
                        hx-get="/drawer/content?q={{$v}}"
                        hx-target="#drawer-1-body"
                        hx-swap="innerHTML"
                        hx-indicator="#loading-indicator"
                        _="on click set #drawer-1.checked to true">button {{$k}}</button>
          {{end}}
        </div>
        </ul>
      </div>
    </div>

    <div class="drawer-side z-10">
      <label for="drawer-1" aria-label="close sidebar" class="drawer-overlay"></label>
      <div class="bg-base-200 text-base-content min-h-full w-2/3 p-4">
        <!-- Drawer content here -->

        <div class="flex flex-col space-y-4 w-1/2">
          <p>
          This is the first drawer.
          </p>

          <div id="drawer-1-body"><span class="loading loading-spinner"></span></div>

          <label for="drawer-2" class="drawer-button btn btn-primary">Open drawer 2</label>
          <label for="drawer-1" class="drawer-button btn btn-secondary">Close drawer</label>
        </div>
      </div>
    </div>
  </div>
{{end}}

{{define "drawer-2"}}
  <div class="drawer drawer-end">
  <input id="drawer-2" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content"></div>
  <div class="drawer-side z-20">
    <label for="drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
    <div class="bg-base-200 text-base-content min-h-full w-1/3 p-4">
      <div class="flex flex-col space-y-4">
        <!-- Drawer content here -->
        <p>This is the second drawer.</p>
        <label for="drawer-2" class="drawer-button btn btn-secondary">Close drawer-2</label>
      </div>
    </div>
  </div>
</div>
{{end}}

{{block "drawer-content" .}}
  <p>{{.Stuff}}</p>
{{end}}
