{{block "home-page" .}}
  {{template "head" .}}
  {{template "nav-head" .}}

  {{template "home-content" .}}

  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "home" .}}
  {{template "nav-oob" .}}
  {{template "home-content" .}}
{{end}}

{{block "home-content" .}}
  <h1 class="text-xl">Home</h1>
{{end}}
