{{block "head" .}}
<!doctype html>
<html {{if .PageLoad.DataTheme}}data-theme="{{.PageLoad.DataTheme}}"{{end}}>
  <head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/css/style.css" />

    <!-- htmx -->
    <script type="text/javascript" src="/js/htmx@2.0.6.min.js"></script>
    <script type="text/javascript" src="/js/hyperscript@0.9.14.min.js"></script>
    <script type="text/javascript" src="/js/htmx-ext-reponse-targets@2.0.2.min.js"></script>
    <meta name="htmx-config" content='{"historyCacheSize": 0,"refreshOnHistoryMiss": true, "responseTargetUnsetsError": false}'>

    <script type="text/javascript">
      function saveScrollTop(e) {
        const url = new URL(window.location);
        const params = url.searchParams;
        params.set('main-scroll', e.target.scrollTop)

        window.history.replaceState({}, '', url.toString());
      }

      function restoreScrollTop() {
        const url = new URL(window.location);
        const params = url.searchParams;
        const scrollTop = params.get('main-scroll');
        if (scrollTop) {
          document.getElementById('main').scrollTop = scrollTop;
        }
      }
    </script>

    <script type="text/hyperscript">
      on load restoreScrollTop()
    </script>

  </head>

  <body hx-history="false"
        hx-ext="response-targets">
{{end}}

{{block "foot" .}}
  </body>
</html>
{{end}}

{{block "nav-head" .}}
  <div class="flex flex-row h-screen"> <!-- page wrapper -->

    <nav class="fixed bg-base-200 h-screen w-32 overflow-y-auto">
      <ul class="menu gap-2 w-32">
        {{block "nav" .}}
          {{range .Nav}}
            <li><a href="{{.Href}}"
                   class="{{if .Active}}menu-active{{end}}"
                   hx-get="/nav{{.Href}}"
                   hx-trigger="click"
                   hx-target="closest ul"
                   hx-swap="innerHTML"
                >{{.Label}}</a></li>
          {{end}}
        {{end}}
      </ul>
    </nav>

    <main id="main"
          class="flex-1 ml-32 p-2 overflow-y-auto"
          _="on scroll debounced at 200ms call saveScrollTop(event)"
      >

{{end}}

{{block "nav-foot" .}}
    </main>
  </div>
{{end}}

{{block "nav-main" .}}
  {{template "nav" .}}

  <main id="main"
        class="flex-1 ml-32 p-2 overflow-y-auto"
        hx-swap-oob="true"
        _="on scroll debounced at 200ms call saveScrollTop(event)"
  >
    <div hx-get="{{.Href}}"
         hx-trigger="load"
         hx-target="this"
         hx-target-error="this"
         hx-swap="outerHTML"
         >{{template "main-loading"}}</div>
  </main>
{{end}}

{{define "main-loading"}}
  <div class="flex flex-col gap-4">
    <div class="skeleton h-8 w-full"></div>
  </div>
{{end}}
