{{block "head" .}}
<!doctype html>
<html {{if .PageTheme}}data-theme="{{.PageTheme}}"{{end}}>
  <head>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="stylesheet" href="/css/style.css" />

    <!-- htmx -->
    <script type="text/javascript" src="/js/htmx@2.0.6.min.js"></script>
    <script type="text/javascript" src="/js/hyperscript@0.9.14.min.js"></script>
    <script type="text/javascript" src="/js/htmx-ext-reponse-targets@2.0.2.min.js"></script>
    <meta name="htmx-config" content='{"historyCacheSize": 0,"refreshOnHistoryMiss": true, "responseTargetUnsetsError": false}'>

    <!-- leaflet -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
       integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
       crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
       integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
       crossorigin=""></script>
    </script>
    <script type="text/javascript" src="/js/map.js"></script>

    <!-- local utilities -->
    <script type="text/javascript" src="/js/scrollto.js"></script>
    <script type="text/javascript" src="/js/visible.js"></script>

    <script type="text/hyperscript">
      on load restoreScrollTop()
    </script>

  </head>

  <body hx-history="false"
        hx-ext="response-targets">
{{end}}

{{block "nav-head" .}}
    <div class="flex flex-col">
        <progress id="loading-indicator" class="progress htmx-indicator"></progress>
        <div class="flex flex-row h-screen"> <!-- page wrapper -->
            <aside class="fixed bg-base-200 h-screen w-32 overflow-y-auto">
                <nav id="nav">
                    {{block "nav" .}}
                        <ul class="menu gap-2 w-32">
                            {{range .Nav}}
                                <li><a href="{{.Href}}"
                                       class="{{if .Active}}menu-active{{end}}"
                                       hx-get="{{.Href}}"
                                       hx-trigger="click"
                                       hx-target="#main"
                                       hx-target-error="#main"
                                       hx-swap="innerHTML"
                                       hx-push-url="true"
                                       hx-indicator="#loading-indicator"
                                       >{{.Label}}</a></li>
                            {{end}}
                        </ul>
                    {{end}}
                </nav>
            </aside>

            <main id="main" class="flex-1 ml-32 p-2 overflow-y-auto"
                _="on scroll debounced at 200ms call saveScrollTop(event)"
            >
{{end}}

{{block "nav-foot" .}}
          </main>
        </div>
    </div>
{{end}}

{{block "foot" .}}
  </body>
</html>
{{end}}
