{{block "leaflet" .}}
  <h1 class="text-xl font-bold">Leaflet<h1>

	<div class="flex flex-col space-y-4 p-4">
		<div id="map"
				 class="w-auto h-56"
				 _="on load call createMap(me.id)">
		</div>

		<ul>
			{{range .Locations}}
				<li>
					<label>
						<input type="radio"
									 name="name"
									 hx-get="/leaflet/location/{{.Name}}"
									 hx-target="#location-info"
									 hx-swap="innerHTML"
									 /> {{.Name}}
					</label>
				</li>
			{{end}}
		</ul>
		<div id="location-info"></div>
	</div>
{{end}}

{{block "leaflet-location-info" .}}
	<table class="table w-1/2">
		<tr><th>Name</th><td>{{.Name}}</td></tr>
		<tr><th>Latitude</th><td>{{.Lat}}</td></tr>
		<tr><th>Longitude</th><td>{{.Lng}}</td></tr>
	</table>
{{end}}
