{{block "page-home" .}}
  {{template "head" .}}
  {{template "home" .}}
  {{template "foot" .}}
{{end}}

{{block "page-dashboard" .}}
  {{template "head" .}}
  {{template "dashboard" .}}
  {{template "foot" .}}
{{end}}

{{block "page-dog" .}}
  {{template "head" .}}
  {{template "dog" .}}
  {{template "foot" .}}
{{end}}

{{block "page-drawer" .}}
  {{template "head" .}}
  {{template "drawer" .}}
  {{template "foot" .}}
{{end}}

{{block "page-leaflet" .}}
  {{template "head" .}}
  {{template "leaflet" .}}
  {{template "foot" .}}
{{end}}

{{block "page-repl" .}}
  {{template "head" .}}
  {{template "repl" .}}
  {{template "foot" .}}
{{end}}

{{block "page-search" .}}
  {{template "head" .}}
  {{template "search" .}}
  {{template "foot" .}}
{{end}}

{{block "page-settings" .}}
  {{template "head" .}}
  {{template "settings" .}}
  {{template "foot" .}}
{{end}}

{{block "page-tabs" .}}
  {{template "head" .}}
  {{template "tabs" .}}
  {{template "foot" .}}
{{end}}

{{block "page-toast" .}}
  {{template "head" .}}
  {{template "toast" .}}
  {{template "foot" .}}
{{end}}

{{block "page-theme" .}}
  {{template "head" .}}
  {{template "theme" .}}
  {{template "foot" .}}
{{end}}

{{block "page-form" .}}
  {{template "head" .}}
  {{template "form" .}}
  {{template "foot" .}}
{{end}}

{{block "page-loading" .}}
  {{template "head" .}}
  {{template "loading" .}}
  {{template "foot" .}}
{{end}}

{{block "page-map-form" .}}
  {{template "head" .}}
  {{template "map-form" .}}
  {{template "foot" .}}
{{end}}
