{{block "page-home" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "home" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-dashboard" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "dashboard" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-dog" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "dog" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-drawer" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "drawer" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-leaflet" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "leaflet" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-repl" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "repl" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-search" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "search" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-settings" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "settings" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-tabs" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "tabs" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-toast" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "toast" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "page-theme" .}}
  {{template "head" .}}
  {{template "nav-head" .}}
  {{template "theme" .}}
  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}
