{{block "settings-page" .}}
  {{template "head" .}}
  {{template "nav-head" .}}

  {{template "settings" .}}

  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "settings" .}}
  <h1 class="text-xl">Settings</h1>

  <div class="flex flex-row gap-4">

    <div class="card card-border w-1/2">
      <div class="card-body flex flex-col w-full h-50">
        <div class="card-title">Theme</div>
        <div class="grow overflow-auto">
          <div hx-get="/theme-chooser"
               hx-trigger="load delay:250ms"
               hx-target="this"
               hx-swap="outerHTML"
               hx-target-error="this">{{template "theme-chooser-loader"}}</div>
        </div>
      </div>
    </div>

    <div class="card card-border w-1/2">
      <div class="card-body">
        <div class="card-title">Something else</div>
      </div>
    </div>

  </div>
{{end}}
