{{block "settings" .}}
    <div class="wrapper">
        <h1 class="text-xl">Settings things</h1>
        <div class="tabs">
            {{range .Tabs}}
                <a class="tab{{if .Active}} tab-active{{end}}"
                        hx-get="{{.Href}}"
                        hx-trigger="click"
                        hx-target="closest div.wrapper"
                        hx-swap="outerHTML"
                        hx-indicator="next div.htmx-indicator"
                        >{{.Label}}</a>
            {{end}}
            <div class="htmx-indicator loading loading-spinner"></div>
        </div>

        <div class="content">
            {{if eq .Tab "first"}}
                {{template "settings-content-first" .Content}}
            {{else if eq .Tab "second"}}
                {{template "settings-content-second" .Content}}
            {{else if eq .Tab "third"}}
                {{template "settings-content-third" .Content}}
            {{end}}
        </div>
    </div>
{{end}}

{{block "settings-tab" .}}
    {{template "settings" .}}
{{end}}

{{block "settings-content-first" .}}
    {{.}}
{{end}}

{{block "settings-content-second" .}}
    {{.}}
{{end}}

{{block "settings-content-third" .}}
    {{.}}
{{end}}
