{{block "tabs-page" .}}
  {{template "head" .}}
  {{template "nav-head" .}}

  {{template "tabs"}}

  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "tabs" .}}
  <h1 class="text-xl">Tabs</h1>

  <div class="flex flex-col gap-4">

    <div class="card card-border w-full">
      <div class="card-body flex flex-col w-full h-50">
        <div class="card-title">links</div>
      </div>
    </div>

    <div class="card card-border w-full">
      <div class="card-body flex flex-col w-full h-50">
        <div class="card-title">buttons</div>
        <div hx-get="/tabs/buttons"
             hx-trigger="load delay:100ms"
             hx-target="this"
             hx-swap="outerHTML"></div>
    </div>

    <div class="card card-border w-full">
      <div class="card-body flex flex-col w-full h-50">
        <div class="card-title">radio buttons</div>
        <div hx-get="/tabs/radio-buttons"
             hx-trigger="load delay:100ms"
             hx-target="this"
             hx-swap="outerHTML"></div>
      </div>
    </div>

  </div>
{{end}}

{{block "tab-buttons" .}}
    <div class="tabs">
        {{range .Tabs}}
            <button class="tab{{if .Active}} tab-active{{end}}"
                    hx-get="{{.Href}}"
                    hx-trigger="click{{if .Active}}, load{{end}}"
                    hx-target="next .content">{{.Label}}</button>
        {{end}}
    </div>

    <div class="content">Loading button content</div>
{{end}}

{{block "tab-radio-buttons" .}}
    <div class="tabs">
        {{range .Tabs}}
            <input type="radio"
                   name="tab-radio-buttons"
                   class="tab"
                   aria-label="{{.Label}}"
                   {{if .Active}}checked{{end}}
                   hx-get="{{.Href}}"
                   hx-trigger="change{{if .Active}}, load{{end}}"
                   hx-target="next .content"
                   />
        {{end}}
    </div>

    <div class="content">Loading radio button content</div>
{{end}}

{{define "tab-content-one"}}
    <p>This is content one.</p>
{{end}}

{{define "tab-content-two"}}
    <p>This is content two.</p>
{{end}}

{{define "tab-content-three"}}
    <p>This is content three.</p>
{{end}}
