{{block "tabs" .}}
	<div class="h-full overflow-y-auto">
		<h1 class="text-xl font-bold">Tabs</h1>

		<div class="flex flex-col gap-2">

			<div class="card card-border w-full">
				<div class="card-body flex flex-col w-full">
					<div class="card-title">links + content</div>
					<p class="my-4">
						Tabs are &lt;a&gt; links. Each click swaps in a new set of tabs which
						a changed "active" tab and new content.
					</p>
					<div hx-get="/tabs/links"
							 hx-trigger="load delay:500ms"
							 hx-target="this"
							 hx-swap="outerHTML"
							 hx-indicator="#loading-indicator"
							 >{{template "tab-loading"}}</div>
				</div>
			</div>

			<div class="card card-border w-full">
				<div class="card-body flex flex-col w-full">
					<div class="card-title">links + oob content</div>
					<p class="my-4">
						Tabs are &lt;a&gt; links. Each click swaps in a new set of tabs which
						a changed "active" tab and oob-swap a div that loads the matching
						content.
					</p>
					<div hx-get="/tabs/links-oob"
							 hx-trigger="load delay:500ms"
							 hx-target="this"
							 hx-swap="outerHTML"
							 hx-indicator="#loading-indicator"
							 ></div>
					<div id="tab-links-content">{{template "tab-loading"}}</div>
				</div>
			</div>

			<div class="card card-border w-full">
				<div class="card-body flex flex-col w-full">
					<div class="card-title">buttons + oob content</div>
					<p class="my-4">
						Tabs are &lt;buttons&gt;. Each click swaps in a new set of buttons
						with a changed "active" button and oob-swap a div that loads the
						matching content.
					</p>
					<div hx-get="/tabs/buttons-oob"
							 hx-trigger="load delay:500ms"
							 hx-target="this"
							 hx-swap="outerHTML"
							 hx-indicator="#loading-indicator"
							 ></div>
					<div id="tab-buttons-content">{{template "tab-loading"}}</div>
				</div>
			</div>

			<div class="card card-border w-full">
				<div class="card-body flex flex-col w-full">
					<div class="card-title">radio buttons + oob content</div>
					<p class="my-4">
						Tabs are radio buttons. Each click swaps in a div that loads the
						matching content.
					</p>
					<div hx-get="/tabs/radio-oob"
							 hx-trigger="load delay:500ms"
							 hx-target="this"
							 hx-swap="outerHTML"
							 hx-indicator="#loading-indicator"
							 >{{template "tab-loading"}}</div>
				</div>
			</div>

		</div>
	</div>
{{end}}

{{block "tab-links" .}}
  <div class="wrapper">
    <div class="tabs">
        {{range .Tabs}}
            <a class="tab{{if .Active}} tab-active{{end}}"
                    hx-get="{{.Href}}"
                    hx-trigger="click"
                    hx-target="closest div.wrapper"
                    hx-swap="outerHTML"
                    hx-indicator="#loading-indicator"
                    >{{.Label}}</a>
        {{end}}
    </div>

    <p>{{.Content}}</p>
  </div>
{{end}}

{{block "tab-links-oob" .}}
    <div class="tabs">
        {{range .Tabs}}
            <a class="tab{{if .Active}} tab-active{{end}}"
                    hx-get="{{.Href}}"
                    hx-trigger="click"
                    hx-target="closest div.tabs"
                    hx-swap="outerHTML"
                    hx-indicator="#loading-indicator"
                    >{{.Label}}</a>
        {{end}}
    </div>

    <div id="tab-links-content" hx-swap-oob="true">
        <div hx-get="/tabs/content/{{.Active}}"
             hx-trigger="load"
             hx-target="this"
             hx-swap="outerHTML"
             hx-indicator="#loading-indicator"
             >{{template "tab-content-loading"}}</div>
    </div>

{{end}}

{{block "tab-buttons-oob" .}}
    <div class="tabs">
        {{range .Tabs}}
            <button class="tab{{if .Active}} tab-active{{end}}"
                    hx-get="{{.Href}}"
                    hx-trigger="click"
                    hx-target="closest div.tabs"
                    hx-swap="outerHTML"
                    hx-indicator="#loading-indicator"
                    >{{.Label}}</button>
        {{end}}
    </div>

    <div id="tab-buttons-content" hx-swap-oob="true">
        <div hx-get="/tabs/content/{{.Active}}"
             hx-trigger="load"
             hx-target="this"
             hx-swap="outerHTML"
             hx-indicator="#loading-indicator"
             >{{template "tab-content-loading"}}</div>
    </div>
{{end}}

{{block "tab-radio-oob" .}}
    <div class="tabs">
        {{range .Tabs}}
            <input type="radio"
                   name="tab-radio"
                   class="tab"
                   aria-label="{{.Label}}"
                   {{if .Active}}checked{{end}}
                   hx-get="/tabs/content/{{.Content}}"
                   hx-trigger="change{{if .Active}}, load{{end}}"
                   hx-target="next .content"
                   hx-swap="innertHTML"
                   hx-params="not tab-radio"
                   hx-indicator="#loading-indicator"
                   />
        {{end}}
    </div>

    <div class="content"></div>
{{end}}

{{define "tab-content-one"}}
    <p>This is content one.</p>
{{end}}

{{define "tab-content-two"}}
    <p>This is content two.</p>
{{end}}

{{define "tab-content-three"}}
    <p>This is content three.</p>
{{end}}

{{define "tab-loading"}}
  <div class="skeleton w-full h-16 rounded"></div>
{{end}}

{{define "tab-content-loading"}}
  <div class="skeleton w-full h-5 rounded"></div>
{{end}}
