{{block "theme-page" .}}
  {{template "head" .}}
  {{template "nav-head" .}}

  {{template "theme-content" .}}

  {{template "nav-foot" .}}
  {{template "foot" .}}
{{end}}

{{block "theme-content" .}}
  <h1 class="text-xl">Theme</h1>

  <div class="flex flex-row">
    <div class="card card-border w-full">
      <div class="card-body">
        <ul>
          {{range .Themes}}
            <li>
              <label class="cursor-pointer">
                <input type="radio"
                       name="theme"
                       value="{{.Value}}"
                       {{if .Active}}checked{{end}}
                       hx-post="/theme-chooser"
                       hx-trigger="change"
                       hx-indicator="next span.htmx-indicator"
                      /> {{.Label}} <span class="htmx-indicator loading loading-spinner loading-sm"></span>
              </label>
            </li>
          {{end}}
        </ul>
        <p class="error error-bg p-2 rounded">{{.Error}}</p>
      </div>
    </div>
  </div>
{{end}}

{{block "theme" .}}
  {{template "theme-content" .}}
  {{template "nav-oob" .}}
{{end}}
