{{block "time" .}}
  <div class="card card-border">
    <div class="card-body">
      <div class="card-title">Time</div>
      <div hx-get="/time/servertime"
           hx-trigger="load"
           hx-target="this"
           hx-swap="outerHTML">{{template "time-loading"}}</div>
    </div>
  </div>
{{end}}

{{block "time-servertime" .}}
  <div hx-get="/time/servertime"
       hx-trigger="every 1s"
       hx-target="this"
       hx-swap="outerHTML"
       hx-indicator="this"
       >{{.Time}} <span class="htmx-indicator loading loading-spinner"></span></div>
{{end}}

{{define "time-loading"}}
  <div class="skeleton w-full h-20"></div>
{{end}}
