{{block "toast" .}}
  <h1 class="text-xl font-bold">Toast</h1>

  <button class="btn btn-primary"
          hx-get="/toast/server-time"
          hx-target="div.toast"
          hx-swap="afterbegin"
          hx-disabled-elt="this"
          hx-indicator="#loading-indicator"
          >Get server time</button>

  <div class="toast toast-top toast-end pt-16 md:pt-0"></div>
{{end}}

{{block "toast-server-time" .}}
  <div class="alert alert-info"
       _="on load
            wait 5s
            transition my opacity to 0% over 500ms
            remove me
       "
    >
    <span>Server time: {{.Now}}</span>
    <button class="btn btn-info btn-sm"
            _="on click remove closest <div.alert/>">X</button>
  </div>
{{end}}
